*{text-decoration:none; list-style:none; margin:0px; padding:0px; outline:none;}

body{margin:0px; padding:0px; font-family: 'Open Sans', sans-serif;}

section{width:100%; max-width:1200px; margin:0px auto; display:table; position:relative;}

h1{margin:0px auto; display:table; font-size:26px; padding:40px 0px; color:#000000; text-align:center;}

h1 span{font-weight:500;}

.copyrigth{display:table; margin-bottom:60px; width:900px;}

.copyrigth p{font-size:14px; line-height:22px; color:#000000; text-align:center;}

footer{background-color: #b6b6b6; display:table; padding-bottom:30px; width:100%;  background-image: url("../imagenes/fonfooter.jpg"); }

.social{margin:30px auto; display:table; display:table;}

.social li{float:left; padding:0px 10px;}

.social li a{color:#000000; transition: all 0.5s ease 0s;}

.social li a:hover{color:#000000; transition: all 0.5s ease 0s;}

@media only screen and (max-width: 1440px) {

    section{max-width:95%;}

   }

    @media only screen and (max-width: 980px) {

    .content{width:90%;}

   }



    @media only screen and (max-width: 568px) {

    h1{padding:25px 0px;}

    h1 span{display:block;}

    }

           

    @media only screen and (max-width: 480px) {

        section {max-width: 90%;}

    }

         

    @media only screen and (max-width: 360px) {

    h1{font-size:20px;}

    label{padding:5px 0px;}

    #logo{font-size: 20px;}

    nav{top:47px;}

    }

    

    @media only screen and (max-width: 320px) {

        h1 {padding: 20px 0px;}

    }